<table class="table">
    <caption class="lead">Products</caption>
    <thead>
        <tr>
            <th>Provider</th>
            <th>Date</th>
            <th>Place</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td>{{product.provider}}</td>
            <td>{{product.date}}-{{product.month}}-{{product.year}}</td>
            <td>{{product.place}}</td>
            <td>{{product.amount}}</td>
            <td>
                <a href="#!/edit/{{product.$id}}" class="btn btn-small btn-primary">Edit</a>
                <a class="btn btn-small btn-danger" ng-click="removeProduct(product.$id)">Delete</a>
            </td>

        </tr>
    </tbody>
</table>
<p>
    <a href="#!/add" class="btn btn-success" rle="button">Add New Product</a>
</p>
